{% load staticfiles%}

<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Pez Disco</title>
    <link rel="shortcut icon" src="{% static 'images/logo.ico'%}" type="image/x-icon">
    <link rel="icon" src="{% static 'images/logo.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'tienda.css'%}">
  </head>
  <body>
    <h1>
      <img src="{% static 'images/disco.png'%}" alt="logo" width="180" height="180" align="center"> {{nombre}}
    </h1>

    <table style="width:100%">
      <tr>
        <th rowspan="2"><img src="{% static 'images/pez-disco3.jpg'%}" alt="disco3" width="600px"></th>
        <td>
          <ul id="text_table">
            <li>Nombre científico: Symphysodon</li>
            <li>Nombre común: Pez Disco</li>
            <li>Tamaño del acuario: 100 litros</li>
            <li>Temperatura: Entre 27º y  30ºC</li>
            <li>Temperamento: Tranquilo</li>
            <li>pH: 5,8</li>
            <li>Dieta: Omnivoros</li>
            <li>Longitud: De 15 cms a 20 centímetros</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>PRECIO => {{precio}} €</td>
      </tr>
    </table>

    <p>&nbsp</p><!--Linea en blanco-->
    <a class="boton_producto" href="/tienda_peces" >Pagina inicio</a>


  </body>
</html>
