{% load staticfiles%}


<html lang="es" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Pez Escalar</title>
    <link rel="shortcut icon" src="{% static 'images/logo.ico'%}" type="image/x-icon">
    <link rel="icon" src="{% static 'images/logo.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'tienda.css'%}">
  </head>
  <body>
    <h1>
      <img src="{% static 'images/escalar.png'%}" alt="logo" width="300px" align="center">{{nombre}}
    </h1>

    <table style="width:100%">
      <tr>
        <th rowspan="2"><img src="{% static 'images/pez-escalar3.jpg'%}" alt="escalar" width="500px">
        </th>
        <td>
          <ul id="text_table">
            <li>Nombre científico: Pterophyllun scalare</li>
            <li>Nombre común: Pez Ángel, pez Escalar</li>
            <li>Tamaño del acuario: 100 litros</li>
            <li>Temperatura: Entre 24º y  30ºC</li>
            <li>Temperamento: Tranquilo</li>
            <li>pH: Entre 6 y 7,4</li>
            <li>Dieta: Omnivoros</li>
            <li>Longitud: 15 cms, 20 centímetros de alto</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>PRECIO => {{precio}} €</td>
      </tr>
      <tr>
        <td>STOCK => {{stock}}</td>
      </tr>
    </table>

    <p>&nbsp</p><!--Linea en blanco-->
    <a class="boton_producto" href="/tienda_peces" >Pagina inicio</a>

  </body>
</html>
